[Unit]
Description=Run OKX Portfolio Hot Contract Backtest Periodically

[Timer]
OnActiveSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
RandomizedDelaySec=30s
Persistent=true
Unit=okx-portfolio-backtest.service

[Install]
WantedBy=timers.target
